@font-face {
    font-family: DreamOrphans;
    src: url('./dream\ orphans.ttf');
}
@font-face {
    font-family: Desyrel;
    src: url('./DESYREL_.ttf');
}


body {
    background-color: black;
    /* background-image: url(../assets/Images/thumbnail-4new.jpg);
    background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center;  */
    color: white;
    /* font-family: DreamOrphans; */
    font-family: Desyrel;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* nav */
#navdiv {
    text-align: center;   
}

.navlink {
    width: 14%;
    color: white
}

.navlink a {
    color: white;
    font-size: 18px;
}

.navlink a:hover {
    color: #ba5c4e;

}

#navlogo {
    width: 10%;
    margin-left: 45%;
}

#dropdownMenuButton {
    background-color: transparent;
    color: white;
    border-color: transparent;
}


/* home */
#carousel {
    display: flex;

}

.carousel-item {
    flex: 1;
}

.homecarousel{
    max-height: 60vh;
    margin: 0 auto;
    vertical-align: center;
    width: 100%;

}


#content{
    flex: 1;
}

/* about */
#about {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 70%;
    margin: 0 auto;
}
#abouttext{
    flex: 50%;
    max-width: 50%;
    padding: 30px;
    font-size: 20px;
}
#aboutimg{
    flex: 50%;
    max-width: 50%;
    padding: 30px;
}

#about img{
    margin-top: 8px;
    vertical-align: middle;
}

#about a {
    color: white;
}
/* 2009 and Beyond */
iframe {
    vertical-align: center; 
    margin: 30px;
    
}
#beyond {
    text-align: center;
}
#button2009 img{
    width: 640px;
    margin: 0 auto;
    display: block;
}

.carousel2009{
    width: 80%;
    margin: 0 auto;

}

/* portfolio */


#portfolio{
    width: 60%;
    margin: 0 auto;
    flex: 1;

}
.portfoliolink {
    width: 20%;
    margin: 6%;
    margin-top: 20px;
    margin-bottom: 20px;
}


#portfoliotitle {
    text-align: center;
    margin: 40px;
}
.galleryrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  .gallerycolumn {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .gallerycolumn img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .transbutton {
      background-color: transparent;
      border-color: transparent;
  }
  

/* video */

#video {
  
    padding: 20px;
    text-align: center;
}
.vidlink {
    color: white;
    margin: 30px;
}
.video {
    margin: 20px;
}

/* footer */

#footer {
    text-align: center;
    bottom: 0;
}

#footer a{
    color: white;
    font-size: 22px;
    
}

/* media queries */

@media only screen and (max-width: 1200px) {

    #navlogo {
     width: 10%;
     margin-left: 45%;
 }

 #about {
     width: 100%;
     padding: 10px;
 }
 .portfoliolink {
    width: 30%;
    margin: 0;
}
.gallerycolumn {
    flex: 50%;
    max-width: 50%;
  }
 
   }

/* @media only screen and (max-width: 900px) {

    #button2009 img{
        width: 100%;
    }

} */

@media only screen and (max-width: 650px) {

   #navlogo {
    width: 25%;
    margin-left: 37.5%;
}

#abouttext{
    flex: 100%;
    max-width: 100%;
}
#aboutimg{
    flex: 100%;
    max-width: 100%;
/* }
.gallerycolumn {
    flex: 100%;
    max-width: 100%;
  } */

  }

}