body {
    background-color: black;
    color: white;
}
/* nav */
#navdiv {
    text-align: center;   
}

.navlink {
    width: 14%;
}

.navlink a {
    color: white;
    font-size: 24px;
}

#navlogo {
    width: 16%;
    margin-left: 42%;
}

#dropdownMenuButton {
    background-color: black;
    color: white;
    border-color: transparent;
    visibility: hidden;
}


/* home */
#carousel {
    display: flex;
    max-height: 80vh;
}

.carousel-item {
    flex: 1;
}

/* about */
#about {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 20px;
}

#about img{
    max-width: 100%;
    margin: 30px;
}

#about a {
    color: white;
}

/* footer */

#footer {
    text-align: center;
}

#footer a{
    color: white;
    font-size: 30px;
    
}

/* media queries */

@media only screen and (max-width: 650px) {

   #navlogo {
    width: 25%;
    margin-left: 37.5%;
}
#navdiv {
   visibility: hidden;;   
}
#dropdownMenuButton {
    visibility: visible;
}
#about {
    width: 100%;
}
#about img{
    margin: 0px;
    margin-top: 10px;
}
  }