body {
    background-color: black;
    color: white;
}
/* nav */
#navdiv {
    text-align: center;   
}

.navlink {
    width: 14%;
}

.navlink a {
    color: white;
    font-size: 24px;
}

#navlogo {
    width: 16%;
    margin-left: 42%;
}

#dropdownMenuButton {
    background-color: black;
    color: white;
    border-color: transparent;
    visibility: hidden;
}


/* home */
#carousel {
    display: flex;
    max-height: 80vh;
}

.carousel-item {
    flex: 1;
}

/* about */
#about {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 70%;
    margin: 0 auto;
}
#abouttext{
    flex: 50%;
    max-width: 50%;
    margin: auto;
    font-size: 18px;
}
#aboutimg{
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

#about img{
    margin-top: 8px;
    vertical-align: middle;
}

#about a {
    color: white;
}

/* footer */

#footer {
    text-align: center;
}

#footer a{
    color: white;
    font-size: 30px;
    
}

/* media queries */

@media only screen and (max-width: 1200px) {

    #navlogo {
     width: 25%;
     margin-left: 37.5%;
 }
 #navdiv {
    visibility: hidden;;   
 }
 #dropdownMenuButton {
     visibility: visible;
 }
 #about {
     width: 100%;
     padding: 10px;
 }
 
   }

@media only screen and (max-width: 650px) {

   #navlogo {
    width: 25%;
    margin-left: 37.5%;
}

#abouttext{
    flex: 100%;
    max-width: 100%;
}
#aboutimg{
    flex: 100%;
    max-width: 100%;
}
  }